
body{
    background-color:  hsl(212, 45%, 89%);
    font-family: "Outfit";
    font-size: 15px;
}
section{
    padding: 100px;
    padding-left: 250px;
    padding-right: 250px;
    display: flex;
    justify-content: center;
    /* max-width: 100%;  section does not exceed screen-width */
    }
.qr-wrapper{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    height: 499px;
    max-width: 320px;
    padding: 16px;
    background-color: hsl(0, 0%, 100%);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}
.image-container{
    background-image:url(images/image-qr-code.png);
    width: 288px;
    height: 288px;
    background-size: cover; /  /*since the div background is an image*/   
}
.text-container{
    display: flex;
    flex-direction: column;
    background-color: hsl(0, 0%, 100%);
    padding-left: 16px;
    padding-right: 16px;

}
.title-text{
    font-weight: 700;
    font-size: 22px;
    text-align: center;
    color: hsl(218, 44%, 22%);
}
.body-text{
    font-weight: 400;
    font-size: 15px;
    text-align: center;
    color: hsl(216, 15%, 48%);
}

@media  screen and (max-width: 320px) {
 
    section{
        padding: 24px;
        padding-left: 24px;
        padding-right: 24px;
        

    }

    .qr-wrapper{
        max-width: 100%;
        /* padding: 24px; */
    }

    .title-text{
        font-size: 18px;
    }
    .body-text{
        font-size: 14px;
    }
}